* {
  padding: 0em;
  margin: 0em;
}

.container {
  display: flex;
}

.left-wrap {
  background-color: #5200ff;
  position: relative;
  width: 38.313em;
  height: 53em;
}

.image {
  position: absolute;
  width: 38.313em;
  height: 53em;
  object-fit: cover;
  opacity: 0.2;
}

.text {
  width: 28.125em;
  margin: 9.063em 6.5em 22.625em 6.5em;
}

.text-title {
  color: white;
  text-align: right;
  font-size: 4em;
  font-family: "Bebas Neue", cursive;
  font-weight: lighter;
  position: relative;
}

.text-description {
  text-align: right;
  font-size: 1.5em;
  color: white;
  padding-top: 1.875em;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.right-wrap {
  width: 100%;
}

.text-input {
  margin-top: 9.063em;
  margin-left: 3.75em;
}

input[type="text"] {
  width: 21.875em;
  padding: 0.813em 1.25em;
  margin: 0.5em 0;
  box-sizing: border-box;
  font-size: 1em;
  font-family: "Poppins", sans-serif;
}

.input-button-wrapper {
  padding-top: 1.25em;
}

.input-title {
  font-size: 1em;
  font-family: "Poppins", sans-serif;
}

button {
  background-color: #5200ff;
  border: none;
  color: white;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin-top: 5em;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .left-wrap {
    width: 100%;
    height: 22.313em;
    margin: auto;
    padding-top: 6.75em;
  }

  .image {
    width: 100%;
    height: 29em;
  }

  .text {
    width: 37.5em;
    margin: auto;
  }

  .text-title {
    text-align: center;
  }

  .text-description {
    text-align: center;
  }

  .text-input {
    margin-left: 12.5em;
    margin-top: 5.625em;
  }

  .input-button-wrapper {
    display: flex;
  }

  .input-email {
    margin-left: 2.438em;
  }

  input[type="text"] {
    width: 19em;
  }
}

@media screen and (max-width: 864px) {
  .text-input {
    margin-left: 6.125em;
  }
}

@media screen and (max-width: 768px) {
  .text-input {
    margin-left: 3.8em;
  }
}

@media screen and (max-width: 512px) {
  .left-wrap {
    height: 31.5em;
    width: 36em;
  }

  .image {
    height: 38.313em;
    width: 36em;
  }

  .text {
    margin-left: 4.875em;
    width: 0;
  }

  .text-title {
    width: 26.5rem;
    height: 13.25rem;
  }

  .text-description {
    margin-top: 2em;
    width: 17.66em;
    height: 3em;
  }

  .text-input {
    margin-top: 4em;
  }

  .input-button-wrapper {
    flex-direction: column;
  }

  .input-email {
    margin-left: 0;
  }

  button {
    margin-top: 3em;
    width: 27em;
  }

  input[type="text"] {
    width: 27em;
  }
}
